body {
    display: flex;
    margin: 0;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #272729;
    align-items: center;
    justify-content: space-evenly;
    padding: 0% 10%;
}

.navbar-link {
    color: #cecece;
    padding: 0px 8px;
    cursor: pointer;
    font-size: 10;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.navbar-link:hover {
    color: #ffffff;
}

.navbar-button {
    padding: 15px 10px;
    cursor: pointer;
    width: 1, 4vw;
}


.modulo-unicef {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    padding: 20px 0;
    text-align: center;
    background-color: #fbfbfd;
}


.logo-unicef{
    width: 10%;
}

.link{
    font-size: 12 ;
    color:#06c;
    padding: 0.8vw;
    text-decoration: none;
}
.modulo-MacBook-Air {
    flex-direction: row | row-reverse | column | column-reverse;
    background-color: #ffffff;

}

.link-macbook {
    color: #06c;
    letter-spacing: inherit;
}

imag-ipad´ {}

.modulo-Iphone13 {}

footer {
    border: 1px solid red;
    background-color: #ffffff;
}

.modulo-MacbookPro13 {}

.modulo.iphone13pro {}

Footer © 2022 GitHub,
Inc. Footer navigation Terms Privacy Security Status Docs Contact GitHub Pricing API Training Blog About    